@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body{
    font-family: "Josefin Sans", sans-serif !important;
    background-color: black !important;
  }

.account_view {
  color: white;
}

.oneAccount {
  background-color: #3e3131;
  border: 1px solid #b21b1b;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
}

